In [4]:
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv("data.csv")
data

    t(h)     X      S      P
0      0  1.70  91.45   0.87
1      1  1.65  89.74   1.77
2      2  1.85  87.94   2.03
3      3  2.80  81.84   4.05
4      4  2.65  74.64   8.18
5      5  3.35  65.85  12.80
6      6  3.30  55.23  15.38
7      7  5.05  45.54  21.10
8      8  4.17  37.96  28.06
9      9  3.90  28.66  33.22
10    10  5.30  16.86  39.31
11    11  4.70   8.29  44.31
12    12  5.60   1.67  46.46

In [17]:
def monod(z,umax,Ks):
    Yxs = 0.0434
    Yps = 0.5078
    Ypx = Yps/Yxs
    X = z[0]
    S = z[1]
    P = z[2]
    dXdt= umax*S/(Ks+S)*X
    dSdt=-umax*S/(Ks+S)*X/Yxs
    dPdt=umax*S/(Ks+S)*X*Ypx
    dzdt = [dXdt,dSdt,dPdt]
    return dzdt